.page__intro {
  margin: 92px auto;
}

@media screen and (max-width: 1023px) {
  .page__intro {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__intro {
    margin: 64px 16px;
  }
}