.cover {
  max-width: 1184px;
  background-size: cover;
  background-image: url(../../images/cover-trains.jpg);
  padding-top: 740px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    padding-top: calc(100% / 1.6);
  }
}
